*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

:root{
    --bg-color: white;
    --home-color: rgb(223, 234, 236);
    --change-color: blue;
    --main-color: rgb(228, 228, 217);
}
.span-logo{
    color: var(--home-color);
}


span{
    color: var(--change-color);
}

header span{
    color: var(--home-color);
}

body{
    width: 100%;
    
}

.Home-section, footer{
    background-color: var(--home-color);
}

.Menu-ul{
    list-style: none;
}

.Home-section, .About-section, .Skills-section, .Services-section{
    height: fit-content;  
}

.About-section, .Skills-section, .Services-section{
    margin: 90px 0;
    
}


.About-section h2, .About-section h1, .Skills-section h1, .Skills-section h3, .Services-section h1{
    margin-top: 30px;
    margin-bottom: 20px;
}

.Menu-ul a{
    text-decoration: none;
    margin: 0 10px;
    color: white;
}

.Menu-ul a:hover{
    color: rgb(205, 205, 226);
    border-bottom: 1px solid;
    letter-spacing: 2px;
    transition: 2s ease;

}
.my-info{
    height: 100%;
    padding: 10px 10px; 
    display: flex;
    justify-content: space-evenly;
}

.my-info-text{
   display: flex;
   align-items: center;
   justify-content: center;
}

.my-img {
   display: flex;
   align-items: center;
}

.Services-section .image1{
    padding: 0;
    border-radius: 2rem;
    height: 50vh;
    position: relative;
    overflow: hidden;
    background-image: url(assets/mobile.png);
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    width: 300px;
    box-shadow: 0 10px 20px #00000022;
}

.Services-section .image2{
    padding: 0;
    border-radius: 2rem;
    height: 50vh;
    position: relative;
    overflow: hidden;
    background-image: url(assets/about03.png);
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    width: 300px;
    box-shadow: 0 10px 20px #00000022;
}

.Services-section .image3{
    padding: 0;
    border-radius: 2rem;
    height: 50vh;
    position: relative;
    overflow: hidden;
    background-image: url(assets/about02.png);
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    width: 300px;
    box-shadow: 0 10px 20px #00000022;
}

.Services-section .transition{ 
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   top: 0;
   height: inherit;
   width: 100%;
   background-color: rgb(205, 205, 221);
   background: linear-gradient();
   color: white;
   transform: translateY(100%);
}

.Services-section .image1:hover .transition, .Services-section .image2:hover .transition, .Services-section .image3:hover .transition{
    transform: translateY(0);
    transition: 2s ease;
}

footer ul{
    list-style: none;
    padding-left: 0;   
}

footer ul li{
    margin: 0;
}

footer ul a{
    text-decoration: none;
    color: black;
}

.phone-menu{
    display: none;
}


.Languages-row{
    box-shadow: 0 10px 20px #00000022;
}

.Languages-row .card{
    border: none;
}


/*My PC's full screen width*/
  @media (max-width: 1366px){  
   
 
   }

@media (max-width: 800px){
    .my-info-text{
        width: 80vw;
        text-align: center;
        margin: auto;
       }

    .skill-row, .About-row {
        display: flex;
        flex-direction: column;
    }

    .Languages, .About-row div{
        width: 100%;
     }
 
     .Experinece{
     width: 100%;
     margin-top: 30px;
     }

     .Services-section .image1, .Services-section .image2{
          margin-bottom: 20px;
     }

     .pc-menu{
        display: none;
     }

     .phone-menu{
        display: flex;
     }
}

@media (max-width: 600px){
    footer, .About-section{
        text-align: center;
    }
}




