*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

:root{
    --bg-color: white;
    --home-color: rgb(223, 234, 236);
    --change-color: blue;
    --main-color: rgb(228, 228, 217);
}
.span-logo{
    color: var(--home-color);
}



span{
    color: var(--change-color);
}

header span{
    color: var(--home-color);
}

.sticky{
    position: fixed;
    top: 0;
    z-index: 2;
}

body{
    width: 100%;
    
}

.Home-section{
    background-color: var(--home-color);
    padding: 70px 0; 
}

.Menu-ul{
    list-style: none;
}

.Menu-ul a{
    text-decoration: none;
    margin: 0 10px;
    color: black;
    padding-bottom: 5px;
}

.Menu-ul a:hover{
    color: rgb(205, 205, 226); 
    border-bottom: 1px solid;
    letter-spacing: 2px;
    transition: 2s ease;

}

.active{
    color: red;
    border-bottom: 1px solid red;
}

.phone-menu{
    display: none;
}


.phone-ul{
    position: absolute;
    z-index: 2;
    right: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    border: 1px solid;
    display: none;  
    width: 30vw;
}

.phone-ul a{
    color: black;
}

.Home-section, .About-section, .Skills-section, .Services-section, .Projects-section{
    height: fit-content;  
}

.About-section, .Skills-section, .Services-section, .Projects-section{
    margin: 60px 0;   
}


.About-section h2, .About-section h1, .Skills-section h1, .Skills-section h3, .Services-section h1, .Projects-section h1{
    margin-top: 30px;
    margin-bottom: 20px;
}

.my-info{
    height: 100%;
    padding: 10px 10px; 
    display: flex;
    justify-content: space-evenly;
}

.my-info-text{
   display: flex;
   align-items: center;
   justify-content: center;
   
}

.my-info-text p{
    ont-size: xx-large;
}

.my-img {
   display: flex;
   align-items: center;
}

.Services-section .image1{
    padding: 0;
    border-radius: 2rem;
    height: 50vh;
    position: relative;
    overflow: hidden;
    background-image: url(assets/frontend.jpg);
    background-position:center;
    background-repeat: no-repeat;
    z-index: 1;
    width: 300px;
    box-shadow: 0 10px 20px #000000;
}

.Services-section .image2{
    padding: 0;
    border-radius: 2rem;
    height: 50vh;
    position: relative;
    overflow: hidden;
    background-image: url(assets/backend.png);
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    width: 300px;
    box-shadow: 0 10px 20px #000000;
}

.Services-section .image3{
    padding: 0;
    border-radius: 2rem;
    height: 50vh;
    position: relative;
    overflow: hidden;
    background-image: url(assets/web-specification.png);
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    width: 300px;
    box-shadow: 0 10px 20px #000000;
}

.Services-section .transition{ 
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   top: 0;
   height: inherit;
   width: 100%;
   background-color: rgba(205, 205, 221, 0.37);
   background: linear-gradient();
   color: white;
   transform: translateY(100%);
}

.Services-section .image1:hover .transition, .Services-section .image2:hover .transition, .Services-section .image3:hover .transition{
    transform: translateY(0);
    transition: 2s ease;
}

footer{
    background-color: var(--main-color);
}

footer ul{
    list-style: none;
    padding-left: 0;   
}

footer ul li{
    margin: 0;
}

footer ul a{
    text-decoration: none;
    color: black;
}



.Languages-row{
    box-shadow: 0 10px 20px #00000022;
}

.Languages-row .card{
    border: none;
}

.carousel{
    position: relative;
    overflow: hidden;
}

.shade{
    position: absolute;
    background-color: #00000056;
    height: 100%;
    z-index: 1;
}

.fa-arrow-up{
    display: none;
}

/*My PC's full screen width*/
  @media (max-width: 1366px){  
   
 
   }

@media (min-width: 1000px){
    .Services-row .image1, .Services-row .image2, .Services-row .image3{
       width: 30%;     
   }
  
  
 }

 @media (max-width: 1136px){
   .Skills-section .skill-row{
    flex-direction: column;
   }

   .Languages, .Experinece{
    width: 100%;
   }
   
   .Languages-row{
    margin: auto;
   }

   .Experinece{
    margin-top: 200px;
   }

 }

 @media (max-width: 1050px){
    .About-row{
        flex-direction: column;
    }

    .Education, .Achievements, .Passions{
        width: 100%;
    }

    .Achievements, .Passions{
        margin-top: 50px;
    }

   .Achievements{
    height: 50vh;
   }

 }

 @media (max-width: 1000px){
   .Services-row{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Services-row .image1, .Services-row .image2{
    margin-bottom: 50px;
     width: 80%; 
}

.Services-row .image3{
    width: 80%; 
}

.Services-row .transition{
    font-size: x-large;
    font-weight: bolder;
}



}
@media (max-width: 800px){

    .my-info-text{
        margin: auto; 
       }

     /* .About-row {
        display: flex;
        flex-direction: column;
    } */

    .Languages, .About-row div{
        width: 100%;
     }
 
     .Experinece{
     width: 100%;
     margin-top: 60px;
     }

     .pc-menu{
        display: none;
     }

     .phone-menu{
        display: flex;
     }

     .fa-arrow-up{
        display: inline-flex;
     }

     .About-section, .Skills-section, .Services-section, .Projects-section, .Achievements div{
        margin: 10px 0;
     }

     .carousel-item img{
        height: 40vh;
     }

     .phone-ul a:hover{
        color: white;
        background-color: black;
        
     }
     footer{
        padding: 0;
     }

     .footer-row{
        margin-top: 100px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        text-align: center;
    }

    footer .col-md-3{
        width: fit-content;
    }
}

@media (max-width: 576px){
     .my-info-text{
        text-align: center;
    }   
}






